.screen-wrapper {
    min-height: 105px;
    background-color:aquamarine ;
    box-shadow: inset 0px 0px 50px -11px #000000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 15px;

    padding: 16px;
    margin: 4px;
}

.result {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.text {
    font-size: 24px;
}

h1 , h3 {
    margin: 0;
}